<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Snippette's Registration</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <h1>Snippette's Code Snippet Repo</h1>
    <h3>Register to access Snippette's plethera of awesome
    code snippets from users around the world!</h3>
    <p>Already registered? <a href="/login">Login</a></p>


    <form class="forms" action="/registerUser" method="post">
      <input class="name" name="name" placeholder="Your name" type="text"/>
      <input class="email" name="email" placeholder="Your email" type="email"/>
      <input class="username" name="username" placeholder="Select a username" type="text"/>
      <input class="password" name="password" placeholder="Choose a password" type="text"/>

      <button>Register</button>

    </form>

  </body>
</html>
